*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #80808030;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Open+Sans:ital,wght@0,700;1,700&family=Oswald:wght@600&family=Share+Tech+Mono&display=swap');

:root{
    --fonte-h1: 'Oswald','cursive';

    --cor1:#FFCF2B;
    --cor2:#806716;
    --cor3:#80703C;
    --cor4:#CCA423;
}

header{
    background-color: var(--cor1);
    text-align: center;
}

header > h1{
    display: inline-block;
    color: aliceblue;
    font-family: var(--fonte-h1);
    font-weight: bold;
}

.tec{
    color: #3c3636;
    font-weight: 700;
}

nav{
    padding-top: 10px;
    background-color: var(--cor1);
    height: 35px;
    font-size: 17px;
}

nav > p{
    text-align: center;
}

nav > p > a{
    display: inline-block;
    margin: 0px 8px;
    padding: 0px 10px;
    color: aliceblue;
    text-decoration: none;
}

nav > p > a:hover{
    background-color: var(--cor2);
    transition-duration: 0.5s;
    border-radius: 2px;
}

article1{
    background-color: white;
    margin: 10px 0px 10px;
    height: 600px;
    width: 640px;
}

    article1 > h1{
        color: #FFCF2B;
        text-shadow: 2px 2px 3px #0000002e;
        font-size: 22px;
        padding: 15px 0px 0px 20px;
    }

    article1 > strong{
        padding:10px 0px 0px 20px;
    }

    .img{
        display: block;
        margin: auto;
        padding: 20px 0px 0px 0px;
        width: 600px;
    }

    article1 > p{
        text-align: justify;
        padding: 0px 18px 0px 18px;
       
    }

    article1 > a{
        padding:10px 0px 0px 20px;
        color: #FFCF2B;
    }

aside1{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 1px #0000004f;
}

    aside1 > h4{
        background-image: linear-gradient(to right,#80808080, white);
        color: #606162;;
        margin: 8px 5px 0px 5px;
    }

    aside1 > p{
        margin: 0px 5px;
        text-align: justify;
    }

    aside1 > a{
        margin: 2px 5px;
        color: #FFCF2B;
    }

    hr{
    display: block;
    margin: 7px 15px;
    width: 165px;
    }

aside2{
    background-color: white;
    height: 136px;
    width: 200px;
    box-shadow: 1px 1px 1px #0000004f;
}

    aside2 > h4{
        background-image: linear-gradient(to right,#80808080, white);
        color: #606162;;
        margin: 8px 5px 0px 5px;
    }

    aside2 > p > a{
        margin: 0px 5px;
        color: #FFCF2B;
    }

article2{
    background-color: white;
    margin: 10px 0px 10px;
    height: 600px;
    width: 640px;
}

    article2 > h1{
        color: #FFCF2B;
        text-shadow: 2px 2px 3px #0000002e;
        font-size: 22px;
        padding: 15px 0px 0px 20px;
    }

    article2 > strong{
        padding:10px 0px 0px 20px;
    }

    .img{
        display: block;
        margin: auto;
        padding: 20px 0px 0px 0px;
        width: 600px;
    }

    article2 > p{
        text-align: justify;
        padding: 0px 18px 0px 18px;
    
    }

    article2 > a{
        padding:10px 0px 0px 20px;
        color: #FFCF2B;
    }



.container {
    display: flex;
}

.sec1 {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 300px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
}

footer{
    display: block;
    margin: 5px 300px;
    text-align: center;
    color: #000000bf;
    padding-top: 10px;
    height: 30px;
    width: 870px;
    background-image: linear-gradient(to top, #80808070, #64646457);
    box-shadow: 1px 1px 1px #0000007a;
}